//> Colors
$green: #0bcfa0;
$red: #e9594b;
$orange: #e66d4d;
$blue: #09adcb;
$white: #fff;

//> Typefaces
$questrial: "questrial", sans-serif;

body {
  box-sizing: border-box;
  font-family: $questrial;
  line-height: 1.5;
  height: 100vh;
  min-height: 100%;
  position: relative;
}

.columns,
.column {
  float: none;
  margin: 0 auto;
}

.gradient_bar {
  background: -webkit-linear-gradient(to right, rgba($blue, 1), rgba($orange, 1));
  background: -o-linear-gradient(to right, rgba($blue, 1), rgba($orange, 1));
  background: linear-gradient(to right, rgba($blue, 1), rgba($orange, 1));
  height: 8px;
  width: 100%;
}

.message{
  animation-name: slide;
  animation-duration: .24s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  box-sizing: border-box;
  color: $white;
  font-size: 13px;
  padding: 6px 0;
  text-align: center;
  @include transition( .24s ease-in-out );
  width: 100%;
  z-index: 1;
  position: absolute;
  bottom: 0;
}
.error {
  background: $red;
}
.deleted {
  background: $blue;
}
.success {
  background: $green;
}
.added {
  background: $orange;
}

@keyframes slide {
  0% { bottom: 0; }
  100% { bottom: -31px; }
}