
#main_header {
  box-sizing: border-box;
  background: $white;
  height: 64px;
  padding: 6px 0;
  text-align: center;
  position:relative;
  img {
    width: 178px;
    @include transform( translateX(-50%) );
    position: absolute;
    top: 50%;
    left: 50%;
  }
}