/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

$orange: rgb(236, 129, 70);
$red: rgb(224, 75, 75);

body {
  font-family: "Questrial", sans-serif;
}

.column {
  float: none;
}


#primary_list {
  box-shadow: 0 0 6px darkgrey;
  margin: 62px auto 0;
  text-align: center;
  .gradient_bar {
    background: linear-gradient(90deg, $orange, $red );
    height: 10px;
    width: 100%;
  }
  #profile_image {
    border-radius: 50%;
    margin-top: 36px;
    text-align: center;
    height: 164px;
    width: 164px;
  }
  h1 {
    font-size: 34px;
    margin: 12px 0 36px;
  }
  #list {
    width: 100%;
    .list_item{
      border-top: 1px solid darkgrey;
      padding: 16px;
      text-align: left;
      p {
        display: inline-block;
        font-size: 14px;
        width: 54%;
      }
      b {
        display: inline-block;
        font-size: 24px;
        margin: 0 12px;
        &:hover {
          cursor: pointer;
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

.delete {
  color: $red;
}

.move_up,
.move_down {
  color: $orange;
  @include transform( rotate(45deg) );
  position: relative;
  top: 2px;
}

.move_down {
  @include transform( rotate(45deg) );
  top: -8px;
}

.complete {
  color: rgb(19, 164, 60);
}

input {
  font-size: 16px;
  width: 76%;
}

#add {
  background: $orange;
  border: 2px solid transparent;
  border-radius: 100%;
  color: #fff;
  display:inline-block;
  height: 36px;
  width: 36px;
  position: relative;
  left: 2%;
  top: 12px;
  &:hover {
    background: #fff;
    border: 2px solid $orange;
    color: $orange;
    cursor: pointer;
  }
  span {
    font-size: 40px;
    @include transform( translate(-50%, -50%) );
    position: absolute;
    top: 44%;
    left: 50%;
  }
}