/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/_global.scss */
body {
  box-sizing: border-box;
  font-family: "questrial", sans-serif;
  line-height: 1.5;
  height: 100vh;
  min-height: 100%;
  position: relative;
}

/* line 20, ../sass/_global.scss */
.columns,
.column {
  float: none;
  margin: 0 auto;
}

/* line 26, ../sass/_global.scss */
.gradient_bar {
  background: -webkit-linear-gradient(to right, #e44c6c, #e66d4d);
  background: -o-linear-gradient(to right, #e44c6c, #e66d4d);
  background: linear-gradient(to right, #e44c6c, #e66d4d);
  height: 8px;
  width: 100%;
}

/* line 34, ../sass/_global.scss */
.message {
  animation-name: slide;
  animation-duration: .24s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  background: #0bcfa0;
  box-sizing: border-box;
  color: #fff;
  font-size: 13px;
  padding: 6px 0;
  text-align: center;
  -moz-transition: ease-in-out 0.24s;
  -o-transition: ease-in-out 0.24s;
  -webkit-transition: ease-in-out 0.24s;
  transition: ease-in-out 0.24s;
  width: 100%;
  z-index: 1;
  position: absolute;
  bottom: 0;
}

/* line 52, ../sass/_global.scss */
.deleted {
  background: #e9594b;
}

/* line 56, ../sass/_global.scss */
.success {
  background: #0bcfa0;
}

/* line 60, ../sass/_global.scss */
.added {
  background: #e66d4d;
}

@keyframes slide {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -31px;
  }
}
/* line 2, ../sass/_header.scss */
#main_header {
  box-sizing: border-box;
  background: -webkit-linear-gradient(to right, #e44c6c, #e66d4d);
  background: -o-linear-gradient(to right, #e44c6c, #e66d4d);
  background: linear-gradient(to right, #e44c6c, #e66d4d);
  height: 46px;
  text-align: center;
  position: relative;
}
/* line 10, ../sass/_header.scss */
#main_header h2 {
  color: #fff;
  font-size: 32px;
}

/* line 2, ../sass/_index.scss */
#index {
  margin-top: 56px;
}
/* line 4, ../sass/_index.scss */
#index h1 {
  color: #bbb;
  font-size: 40px;
  margin-bottom: 16px;
  text-align: center;
}
/* line 10, ../sass/_index.scss */
#index #primary_list {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  position: relative;
}
/* line 13, ../sass/_index.scss */
#index #primary_list #to_do_list {
  background: #fff;
  z-index: 20;
  position: relative;
}
/* line 18, ../sass/_index.scss */
#index #primary_list li {
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding: 8px;
  z-index: 20;
  position: relative;
}
/* line 25, ../sass/_index.scss */
#index #primary_list .btns {
  display: inline-block;
  margin: 0;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  right: 8px;
  top: 50%;
}
/* line 32, ../sass/_index.scss */
#index #primary_list .btns button {
  border: none;
  box-sizing: border-box;
  font-size: 16px;
  letter-spacing: 0;
  margin: 0 4px;
  padding: 0 4px;
}
/* line 39, ../sass/_index.scss */
#index #primary_list .btns button:hover {
  cursor: pointer;
}
/* line 42, ../sass/_index.scss */
#index #primary_list .btns button:first-of-type {
  margin-left: 0;
}
/* line 45, ../sass/_index.scss */
#index #primary_list .btns button:last-of-type {
  margin-right: 0;
}
/* line 49, ../sass/_index.scss */
#index #primary_list .btns .delete {
  color: #e9594b;
}
/* line 52, ../sass/_index.scss */
#index #primary_list .btns .complete {
  color: #0bcfa0;
}
/* line 55, ../sass/_index.scss */
#index #primary_list .btns .up,
#index #primary_list .btns .down {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
@media screen and (min-width: 750px) {
  /* line 62, ../sass/_index.scss */
  #index h1 {
    font-size: 64px;
  }
  /* line 67, ../sass/_index.scss */
  #index #primary_list .btns button {
    font-size: 20px;
  }
}

/* line 75, ../sass/_index.scss */
#add_item {
  border-bottom: 1px solid #bbb;
  box-sizing: border-box;
  padding: 0 8px;
  text-align: center;
  position: relative;
}
/* line 81, ../sass/_index.scss */
#add_item input,
#add_item button {
  border-radius: 0;
  box-sizing: border-box;
  margin: 8px 0;
}
/* line 87, ../sass/_index.scss */
#add_item input {
  width: 68%;
}
/* line 90, ../sass/_index.scss */
#add_item button {
  background: #e44c6c;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 0 8px;
  -moz-transition: ease-in-out 0.22s;
  -o-transition: ease-in-out 0.22s;
  -webkit-transition: ease-in-out 0.22s;
  transition: ease-in-out 0.22s;
  width: 30%;
}
/* line 101, ../sass/_index.scss */
#add_item button:hover {
  background: #e66d4d;
}
@media screen and (min-width: 750px) {
  /* line 75, ../sass/_index.scss */
  #add_item {
    position: relative;
  }
  /* line 107, ../sass/_index.scss */
  #add_item input {
    width: 50%;
  }
  /* line 110, ../sass/_index.scss */
  #add_item button {
    width: 20%;
  }
}
